body {
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .logo {
  height: 60px;
  margin: 15px;
}

header,
div {
  display: flex;
  align-items: center;
}

.texto {
  flex-direction: column;
}

.explicacion {
  font-size: 20px;
  margin: 20px;
  padding: 30px;
  background-color: #22272e20;
  border: 1px solid;
}

textarea {
  background: center no-repeat url("images/bg.png");
  background-color: #b9b9b950;
  text-transform: lowercase;
  font-size: 32px;
  outline: none;
  border: none;
  resize: none;
  height: 500px;
  width: 100%;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 320px;
  height: 55px;
  border-radius: 18px;
  font-size: 20px;
  border: 1px solid;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 81px;
  position: absolute;
  bottom: 0;
  left: 0;
}